controls {
	font            : inherit;
	position        : absolute;
	top             : 0;
	right           : 0;
	isolation       : isolate;
	width           : fit-content;
	height          : fit-content;
	max-height      : 80dvh;
	overflow-y      : auto;
	padding         : 2rem;
	border-radius   : 0 0 0 4rem;
	display         : flex;
	flex-direction  : column-reverse;
	translate       : 0 calc(-100% + 7rem);
	background-color: #00000044;
	transition      : all .2s ease-in-out;

	&.dimmed {
		opacity: .5;
	}

	&:hover,
	&:focus-within {
		opacity       : 1;
		translate     : 0;
		background    : #00000088;
		flex-direction: column;

		h1 {
			margin-block: 0 1rem;
		}
	}

	h1,
	h2 {
		color      : white;
		font-family: fantasy, sans-serif;
		font-weight: bold;
		text-shadow: 3px 6px 2px black;
	}

	h1 {
		font-size  : 3rem;
		line-height: 3rem;
		margin     : 1rem 1rem 0;
	}

	h2 {
		font-size      : 2rem;
		line-height    : 2rem;
		margin         : 0 1rem 2rem;
		display        : flex;
		justify-content: space-between;

		&>span {
			padding-block: 0.7rem 0;
		}
	}

	section {
		margin-bottom: 3rem;
	}

	fieldset {
		margin     : 1.1rem 1rem;
		display    : flex;
		align-items: center;

		* {
			flex     : 0 0 15ch;
			font-size: inherit;
		}
	}

	label,
	p {
		color        : white;
		border-radius: 2px;
	}

	label.sectionHeader {
		z-index         : -1;
		position        : absolute;
		text-transform  : uppercase;
		font-size       : 200%;
		line-height     : 0.8;
		letter-spacing  : 10px;
		opacity         : 0.2;
		font-weight     : bold;
		scale           : 1.3 4;
		transform-origin: top left;
	}

	input {
		border-radius: 5px;
	}

	select {
		padding: .1rem .9rem;
		font   : inherit;
	}

	input[type=checkbox] {
		margin    : 0;
		height    : 2rem;
		margin    : 0;
		flex      : 0 0 2rem;
		align-self: flex-start;
	}

	button {
		display         : flex;
		align-items     : center;
		font            : inherit;
		line-height     : 0;
		padding         : .5rem .9rem 0 .9rem;
		height          : 3rem;
		max-width       : 10rem;
		background-color: white;
		color           : black;
		cursor          : pointer;
		white-space     : nowrap;
	}

	/* Hide the default file input button and hint */
	input[type="file"] {
		display: none;

		&+label {
			display         : inline-block;
			padding-inline  : .9rem;
			height          : 2rem;
			flex            : 0 0 10rem;
			max-width       : 10rem;
			background-color: white;
			color           : black;
			cursor          : pointer;
			line-height     : 2rem;
			white-space     : nowrap;
			overflow        : hidden;
		}
	}

	.credits {
		font-size  : 1rem;
		line-height: 1.4rem;
		margin     : 1rem;
		max-width  : 50ch;

		a {
			color          : inherit;
			text-decoration: wavy underline;
		}
	}
}

@media screen and (max-width: 470px) {
	controls {
		translate: 0 calc(-100% + 6rem);
	}
}

@media screen and (max-width: 500px) {
	controls {
		font-size: 1.2rem;

		h1 {
			font-size: 2rem;
		}

		h2 {
			font-size: 1.5rem;
		}

		fieldset * {
			flex: 0 0 9rem;
		}
	}
}