controls {
	isolation            : isolate;
	grid-area            : 1/1;
	/* display           : flex;
	justify-content      : space-between; */

	h1 {
		color      : white;
		font-size  : 4rem;
		margin     : .5rem 1rem;
		text-shadow: 2px 4px 2px black;
		font-family: fantasy, sans-serif;
	}

	select {
		padding  : .5rem 1rem;
		margin   : .5rem 1rem;
		font-size: 2rem;
	}
}
