/* @property --x {
    syntax       : '<length-percentage>';
    initial-value: 50vw;
    inherits     : false
}

@property --y {
    syntax       : '<length-percentage>';
    initial-value: 50vh;
    inherits     : false
} */

/* html {
    --movingCircles: repeating-radial-gradient(circle at var(--x, 50%) var(--y, 50%), #777, #fff, #777 2em);
} */

rasterizer {
	display              : block;
	grid-area            : 1/1;
	background           : var(--gradientH), var(--pattern);
	background-blend-mode: multiply;
	height               : 100%;
	--contrast           : 80;
	--size               : 2em;
}

.gradient {
	--gradientH: linear-gradient(90deg, #888, #fff);
}

.dotted {
	--dot    : radial-gradient(closest-corner, #777, #fff);
	--pattern: var(--dot) 0 0/var(--size) var(--size);
	--filter : contrast(var(--contrast));
	filter   : var(--filter);

	&.sharpened {
		--filter: contrast(80) blur(2px) contrast(5);
	}
}

.lined {
	background-repeat: no-repeat;
	--line           : repeating-linear-gradient(var(--angle, 0deg), #777 var(--size), #fff calc(2 * var(--size)));
	--pattern        : var(--line);
	--filter         : contrast(var(--contrast));
	filter           : var(--filter);

	&.sharpened {
		--filter: contrast(var(--contrast)) blur(.5px) contrast(2);
	}
}

.radial {
	--pattern: repeating-radial-gradient(circle, #777, #fff, #777 var(--size));
	--filter : contrast(var(--contrast));
	filter   : var(--filter);

	&.sharpened {
		--filter: contrast(var(--contrast)) blur(2px) contrast(5);
	}
}

.esger {
	--image            : url(https://ashware.nl/assets/img/Esger.jpg);
	background-position: center;
	background-size    : var(--size) var(--size), cover;
	background-repeat  : space, no-repeat;
}
