@property --x {
	syntax       : '<length-percentage>';
	initial-value: 50vw;
	inherits     : false
}

@property --y {
	syntax       : '<length-percentage>';
	initial-value: 50vh;
	inherits     : false
}

rasterizer {
	overflow             : hidden;
	display              : grid;
	grid-area            : 1/1;
	height               : 100%;
	background-blend-mode: multiply;
	--contrast           : 80;
	--mapSize            : 100%;
	--rasterSize         : 100%;
	--grayscale          : grayscale(0);
	--sharpen            : blur(0);
	--filter             : var(--grayscale) contrast(var(--contrast)) var(--sharpen);
	filter               : var(--filter);

	&.grayscale {
		--grayscale: grayscale(1);
	}
}

.map--conical {
	--mapRepeat  : no-repeat;
	--mapPosition: var(--mapCenter);
	--map        : repeating-conic-gradient(#777 0, #fff var(--mapHalfSliceAngle), #777 var(--mapSliceAngle));

	&::before {
		background-size: 100% 100%;
	}
}

.map--image {
	&::before {
		--mapRepeat  : no-repeat;
		--mapPosition: 50% 50%;
		--mapSize    : cover;
		--map        : var(--image), url(https://ashware.nl/assets/img/Esger.jpg);
		margin       : 0;
		filter       : blur(min(var(--rasterSize), .1vmin));
	}

	&.grayscale::before {
		filter: brightness(1.1) blur(min(var(--rasterSize), .1vmin));
	}
}

.raster--conical {
	--rasterRepeat  : no-repeat;
	--rasterPosition: center;
	--raster        : repeating-conic-gradient(#777 0, #fff var(--rasterHalfSliceAngle), #777 var(--rasterSliceAngle));

	&::after {
		background-size: 200% 200%;
	}

	&.raster--interactive::after {
		translate: calc(var(--mouseX) - 50vw) calc(var(--mouseY) - 50vh);
	}

	&.sharpened {
		--sharpen: blur(2px) contrast(5);
	}
}
